@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family:  "Noto Serif", serif;;
}

.font-inter{
    font-family: 'Inter', serif;
}



.slide{
    white-space: nowrap;
    display: inline-block;
    animation: slide 60s linear infinite;
}

@keyframes slide{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}

.slide:hover{
    animation-play-state: paused;
}




  